
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html,
body {
    font-style: normal;
    font-size: 16px;
    line-height: 1em;
    font-family: open sans, sans-serif;
    color: #000;
    background-color: #fff
}

strong,
b {
    font-weight: 700
}

a,
input[type=submit] {
    cursor: pointer;
    color: #185a73
}

main em,
main i {
    font-style: italic
}

main strong,
main b {
    font-weight: 700
}
* { box-sizing: border-box;}
h1 {
    font-size: 28px;
    font-weight: 700;
    font-family: open sans, sans-serif;
    color: #333
}

/*.container {
    max-width: 960px;
    margin: 0 auto
}*/
.container-wide {
    max-width: 1640px;
    padding: 0 16px;
}
.initial-hide,
.mobile-hide,
.mobile-only {
    display: none
}

.center {
    text-align: center
}

.clearfix {
    clear: both
}
.clear-it::after {
    content: "";
    display: table;
    clear: both;
    width: 100%;
}

.checkout-icons {
    display: none
}

.nav-main-links {
    line-height: 24px;
    font-size: 16px
}

ul.breadcrumb {
    margin: 24px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

ul.breadcrumb li {
    display: inline-block;
    margin: 0 4px 0 0
}

ul.breadcrumb li+li:before {
    content: '>';
    margin-right: 4px
}

ul.breadcrumb a {
    color: #a55;
    text-decoration: none
}

ul.breadcrumb>li:last-child a {
    color: inherit
}

img {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none
}

.text-decoration-none {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial
}

.bold {
    font-weight: 700
}

.caps {
    text-transform: uppercase;
    letter-spacing: 0
}

.left-align {
    text-align: left
}

.center {
    text-align: center
}

.m0 {
    margin: 0
}

.mt1 {
    margin-top: .5rem
}

.mt2 {
    margin-top: 1rem
}

.mb1 {
    margin-bottom: .5rem
}

.mb2 {
    margin-bottom: 1rem
}

.ml3 {
    margin-left: 1.5rem
}

.ml2 {
    margin-left: 1rem
}

.mobile-quick-actions {
    margin-left: -2rem
}

@media(max-width:350px) {
    .mobile-quick-actions .ml3 {
        margin-left: 1rem
    }
}

.p0 {
    padding: 0
}

.pt1 {
    padding-top: .5rem
}

.pr1 {
    padding-right: .5rem
}

.pb1 {
    padding-bottom: .5rem
}

.pl1 {
    padding-left: .5rem
}

.pl2 {
    padding-left: 1rem
}

.pt2 {
    padding-top: 1rem
}

.col-2 {
    width: 16.6667%
}

.col-3 {
    width: 25%
}

.col-4 {
    width: 33.3333%
}

.col-5 {
    width: 41.6667%
}

.col-6 {
    width: 50%
}

.col-7 {
    width: 58.3333%
}

.col-8 {
    width: 66.6667%
}

.col-9 {
    width: 75%
}

.col-10 {
    width: 83.3333%
}

.col-11 {
    width: 91.6667%
}

.col-12 {
    width: 100%
}

@media(min-width:52.06rem) {
    .md-col-1 {
        width: 8.33333%
    }
    .md-col-2 {
        width: 16.6667%
    }
    .md-col-3 {
        width: 25%
    }
    .md-col-4 {
        width: 33.3333%
    }
    .md-col-5 {
        width: 41.6667%
    }
    .md-col-6 {
        width: 50%
    }
    .md-col-7 {
        width: 58.3333%
    }
    .md-col-8 {
        width: 66.6667%
    }
    .md-col-9 {
        width: 75%
    }
    .md-col-10 {
        width: 83.3333%
    }
    .md-col-11 {
        width: 91.6667%
    }
    .md-col-12 {
        width: 100%
    }
}

@media(min-width:64.06rem) {
    .lg-col-1 {
        width: 8.33333%
    }
    .lg-col-2 {
        width: 16.6667%
    }
    .lg-col-3 {
        width: 25%
    }
    .lg-col-4 {
        width: 33.3333%
    }
    .lg-col-5 {
        width: 41.6667%
    }
    .lg-col-6 {
        width: 50%
    }
    .lg-col-7 {
        width: 58.3333%
    }
    .lg-col-8 {
        width: 66.6667%
    }
    .lg-col-9 {
        width: 75%
    }
    .lg-col-10 {
        width: 83.3333%
    }
    .lg-col-11 {
        width: 91.6667%
    }
    .lg-col-12 {
        width: 100%
    }
}

.flex {
    display: flex
}

.flex-wrap {
    flex-wrap: wrap
}

.items-center {
    -webkit-box-align: center;
    align-items: center
}

.justify-center {
    -webkit-box-pack: center;
    justify-content: center
}

.relative {
    position: relative
}

@media(max-width:40rem) {
    .xs-hide {
        display: none
    }
}

@media(max-width:52rem) and (min-width:751px) {
    .sm-hide {
        display: none
    }
}

@media(max-width:64rem) and (min-width:52.06rem) {
    .md-hide {
        display: none
    }
}

@media(min-width:64.06rem) {
    .lg-hide {
        display: none
    }
}

.test *,
.mean-container .mean-bar * {
    box-sizing: border-box
}

.btm-bar {
    padding: 4px;
    background: #195a73;
    text-transform: capitalize;
    color: #fff;
    font-family: open sans, sans-serif;
    font-size: .8rem;
    line-height: 1.5rem
}

.btm-bar a {
    margin: 0 12px
}

.btm-bar .head-quick-ship {
    padding-left: 30px;
    background: url(../images/fast-carrier.svg) 0 3px no-repeat
}

.btm-bar .head-contractor {
    padding-left: 20px;
    background: url(../images/percent-badge.svg) 0 2px no-repeat
}

.quick-ship-icon {
    padding-left: 20px;
    background: url(../images/quick-ship-nav-desktop.svg) -3px 4px no-repeat
}

@media(max-width:920px) {
    .head-diy-tool {
        display: none
    }
}

@media(max-width:750px) {
    .btm-bar {
        display: none
    }
}

.mean-container .mean-bar {
    top: 46px
}

main {
    max-width: 1280px;
    margin: 0 auto
}

a,
a:active,
a:visited {
    color: #185a73
}

.ampstart-nav a {
    cursor: pointer;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial
}

.ampstart-nav .ampstart-label {
    color: inherit
}

hr {
    width: calc(100% + 3rem);
    height: 1px;
    background-color: #f3f3f3;
    border: none;
    margin: 0 -1.5rem
}

@media(min-width:52.06rem) {
    hr {
        width: 100%;
        margin: 0
    }
    .ampstart-sidebar-nav {
        display: inline-block;
        text-align: center
    }
}

.ampstart-nav {
    margin-bottom: 2rem;
    float: left;
    width: 100%
}

header.test {
    background: #111;
    border: none;
    color: #ddd
}

header.test div>a,
.nav-top-links a {
    color: #ddd
}

.nav-main-links a {
    position: relative;
    z-index: 6
}

.test .mobile {
    display: none
}

.test ul {
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial
}

.test .d-nav-drop a:hover {
    background: #fff
}

.test .nav-top-links {
    font-size: 11.2px
}

.test hr {
    opacity: .5
}

.test .nav-main-links {
    height: 100%
}

.test .number {
    font-size: 1.5rem
}

.test .go input[type=search] {
    background-image: initial;
    background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: transparent;
    border: none;
    color: #ddd;
    width: 100%;
    font-size: .7rem;
    height: 1.5rem
}

.test .go button[type=submit] {
    margin-right: 4px;
    background: 0 0;
    border: 0;
    color: #ddd;
    font-size: .7rem
}

@media(max-width:1555px) {
    .test .nav-main-links {
        font-size: .85rem
    }
    .test .md-col-3 {
        width: 20%
    }
    .test .md-col-6 {
        width: 60%
    }
}

@media(max-width:1300px) {
    .test .md-col-3 {
        width: 100%
    }
    .test .md-col-6 {
        width: 100%
    }
    .test .mobile {
        display: block
    }
    .test .non-mobile {
        display: none
    }
}

@media(max-width:750px) {
    .test .nav-sm {
        font-size: 1.2rem
    }
    .test .nav-sm .links {
        font-size: .8rem
    }
    .test .nav-top {
        display: none
    }
    .test .nav-main-links {
        display: none
    }
    .test .nav-logo {
        width: 50%
    }
    .mean-container a.meanmenu-reveal {
        padding: 0;
        top: -39px;
        left: 13px !important;
        right: auto !important
    }
    .mean-container a.meanmenu-reveal span {
        background-image: initial;
        background-position: initial;
        background-size: initial;
        background-repeat: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: transparent;
    }
    .mean-container a.meanmenu-reveal.meanclose {
        opacity: 0
    }
}

nav.mean-nav ul.newnav>li {
    display: none
}

.mean-container .mean-nav {
    margin-top: 0
}

.mean-container .mean-nav ul li a:hover {
    background-image: initial;
    background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: transparent
}

.mean-container .mean-nav ul li {
    text-align: center
}

.mean-container .mean-nav ul li a {
    border: none;
    text-transform: capitalize;
    padding: 0;
    width: auto;
    float: none;
    text-align: center;
    display: inline-block
}

.newnav ul a {
    margin-left: 0 !important
}

.ampstart-sidebar-nav.test .secondary li a {
    font-size: 12.8px
}

.ampstart-sidebar-nav.test input[type=search] {
    border-bottom: 1px solid #ddd;
    box-shadow: none !important
}

.mean-container .mean-nav {
    display: none;
    padding-bottom: 36px;
    background-color: #0c1923;
    position: absolute;
    z-index: 10;
    top: 64px
}

.mean-container .mean-nav ul li a {
    color: #fff;
    font-size: 16px
}

@media(min-width:750px) {
    .mean-container .mean-nav {
        visibility: hidden
    }
}

.message {
    padding: 12px;
    line-height: 1.5em;
    color: #000;
    border-top: 4px solid #a00;
    border-bottom: 4px solid #a00;
    background-color: #fff
}

.message.error {
    color: #d8000c;
    background-color: #ffbaba
}

.message.warning {
    color: #000;
    background-color: #ffba23
}

.message.small {
    font-size: 14px
}

.message i.fa {
    margin-right: 4px;
    color: #00a;
    font-size: 20px;
    position: relative;
    top: 2px
}

#rtaFooterNav {
    width: auto;
    padding: 32px 16px;
    font-size: 14px;
    background-color: #343434;
    text-align: center
}

#rtaFooterNav ul {
    display: inline-block;
    padding: 0 4%;
    color: #fff;
    vertical-align: middle;
    list-style-type: none;
    list-style-image: none;
    text-align: left
}

#rtaFooterNav ul+ul {
    border-left: 1px solid #fff
}

#rtaFooterNav ul a {
    display: inline-block;
    padding: 4px 0;
    color: inherit;
    text-decoration: none
}

#rtaFooterNav a {
    text-decoration: underline
}

.footer-logos {
    padding: 54px 16px;
    text-align: center
}
.social-icons a {
    display: inline-block;
}

.footer-logos>* {
    display: inline-block;
    vertical-align: middle
}

.footer-logos img {
    margin: 12px 0;
    max-width: 100%;
    height: auto
}

.footer-logos div a {
    margin: 8px;
    opacity: .6;
    transition: opacity .5s
}

.footer-logos div a:hover {
    opacity: 1
}

.site-footer {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5em;
    font-size: 17px
}

.site-footer img {
    max-width: 100%
}

.site-footer.rb {
    max-width: 100%;
    padding: 64px 16px 36px;
    color: #666;
    border-bottom: 10px solid #d44a00;
    background-color: #f3f3f3;
    text-align: center;
    overflow: hidden
}

.site-footer.rb .brands {
    max-width: 1250px;
    margin: 56px auto 0;
    padding: 64px 0;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666
}

.site-footer.rb .brands div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.site-footer.rb .brands div+div {
    max-width: 820px;
    margin-top: 16px
}

.site-footer.rb .brands div a {
    display: inline-block
}
.site-footer.rb .brands div a img {
    height: 30px;
    width:auto
}
.site-footer.rb .brands a:last-child {
    position: relative;
    right: -8px
}

.site-footer.rb .brands p {
    position: relative;
    padding: 0 8px;
    top: -77px;
    font-size: 18px;
    text-transform: uppercase
}

.site-footer.rb .brands p span {
    display: inline-block;
    padding: 0 8px;
    background-color: #f3f3f3
}

.site-footer.rb .rtaFooterText {
    margin: 56px 0 0
}

.site-footer.rb .rtaFooterText p {
    margin: 0;
    font-size: 16px
}

@media(max-width:1000px) {
    .site-footer.rb {
        padding-bottom: 4px
    }
    .site-footer.rb .brands {
        padding: 32px 0
    }
    .site-footer.rb .brands p {
        top: -46px
    }
    .site-footer.rb>a img,
    .site-footer.rb .brands div img {
        transform: scale(.8, .8)
    }
    .site-footer.rb .brands p,
    .site-footer.rb .rtaFooterText p {
        font-size: 12px
    }
    .site-footer.rb .rtaFooterText {
        margin-top: 32px
    }
}

@media(max-width:700px) {
    .site-footer.rb>a img,
    .site-footer.rb .brands div img {
        transform: scale(.6, .6)
    }
    .site-footer.rb .brands div a {
        padding-bottom: 16px
    }
    .site-footer.rb .brands div {
        display: block;
        margin: 0 -32px
    }
    .site-footer.rb .brands a:last-child {
        position: static;
        right: 0
    }
    .site-footer.rb .brands a:nth-child(2) {
        margin: 0 -16px
    }
    .site-footer.rb .brands a:nth-child(4) {
        position: relative;
        left: 10px
    }
    .site-footer.rb .brands a:nth-child(5) {
        position: relative;
        left: 32px
    }
    .site-footer.rb .brands a:nth-child(6) {
        position: relative;
        left: 24px
    }
}

.rta-button-flat {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-family: inherit;
    font-weight: 700;
   
    border: 0;
    border-bottom: 2px solid #ccc;
    
    text-align: center;
    text-decoration: none;
    transition: background-color .5s;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 0
}

.rta-button-flat:hover {
    background-color: #ddd
}

.rta-button-flat.call {
    color: #fff;
    border-bottom: 2px solid #0a4b08;
    background-color: #1a5b08
}

.rta-button-flat.call:hover {
    background-color: #5da134
}

.rta-button-flat.orange {
    border-color: #935224;
    background-color: #a26942
}

.chat-bubble {
    position: fixed;
    bottom: 12px;
    right: 12px;
    cursor: pointer
}

.chat-bubble.mobile {
    display: none
}

@media(max-width:450px) {
    .chat-bubble.desktop {
        display: none
    }
    .chat-bubble.mobile {
        display: block;
        right: 8px;
        z-index: 3
    }
}

.grad-black {
    background: #4b4b4b;
    background: -moz-linear-gradient(left, #4b4b4b 0%, #5f5f5f 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #4b4b4b), color-stop(100%, #5f5f5f));
    background: -webkit-linear-gradient(left, #4b4b4b 0%, #5f5f5f 100%);
    background: -o-linear-gradient(left, #4b4b4b 0%, #5f5f5f 100%);
    background: -ms-linear-gradient(left, #4b4b4b 0%, #5f5f5f 100%);
    background: linear-gradient(to right, #4b4b4b 0%, #5f5f5f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b4b4b', endColorstr='#5f5f5f', GradientType=1)
}

.grad-blue {
    background: #374969;
    background: -moz-linear-gradient(left, #374969 0%, #425a88 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #374969), color-stop(100%, #425a88));
    background: -webkit-linear-gradient(left, #374969 0%, #425a88 100%);
    background: -o-linear-gradient(left, #374969 0%, #425a88 100%);
    background: -ms-linear-gradient(left, #374969 0%, #425a88 100%);
    background: linear-gradient(to right, #374969 0%, #425a88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#374969', endColorstr='#425a88', GradientType=1)
}

@media all and (max-width:900px) {
    #rtaFooterNav ul {
        margin-bottom: 24px
    }
    #rtaFooterNav ul+ul {
        border: 0
    }
}

@media all and (max-width:600px) {
    .mobile-only-inline {
        display: inline
    }
    #rtaFooterNav {
        text-align: left
    }
    .chat-nav,
    .global-search,
    .sitemode-wrapper {
        display: none !important
    }
    hr {
        width: auto;
        margin: 0
    }
    #rtaFooterNav ul {
        width: 49%
    }
}

#colorbox,
#cboxOverlay,
#cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 19999;
    overflow: hidden
}

#cboxWrapper {
    max-width: none
}

#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%
}

#cboxMiddleLeft,
#cboxBottomLeft {
    clear: left
}

#cboxContent {
    position: relative
}

#cboxLoadedContent {
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

#cboxTitle {
    margin: 0
}

#cboxLoadingOverlay,
#cboxLoadingGraphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
    cursor: pointer
}

.cboxPhoto {
    float: left;
    margin: auto;
    border: 0;
    display: block;
    max-width: none;
    -ms-interpolation-mode: bicubic
}

.cboxIframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
    padding: 0;
    margin: 0
}

#colorbox,
#cboxContent,
#cboxLoadedContent {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box
}

#cboxOverlay {
    background: #000;
    opacity: .9;
    filter: alpha(opacity=90)
}

#colorbox {
    outline: 0
}

#cboxContent {
    margin-top: 32px;
    overflow: visible;
    background: #fff;
    border-radius: 4px
}

.cboxIframe {
    background: #fff
}

#cboxError {
    padding: 50px;
    border: 1px solid #ccc
}

#cboxLoadedContent {
    background: #fff;
    padding: 1px;
    border-radius: 4px
}

#cboxLoadingGraphic {
    background: url(../images/loading.gif) no-repeat center center
}

#cboxLoadingOverlay {
    background: #fff
}

#cboxTitle {
    position: absolute;
    top: -22px;
    left: 0;
    color: #000
}

#cboxCurrent {
    position: absolute;
    top: -22px;
    right: 205px;
    text-indent: -9999px
}

#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
    border: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
    text-indent: -9999px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -20px;
    background: url(../images/controls.png) no-repeat 0 0
}

#cboxPrevious:active,
#cboxNext:active,
#cboxSlideshow:active,
#cboxClose:active {
    outline: 0
}

#cboxPrevious {
    background-position: 0 0;
    right: 44px
}

#cboxPrevious:hover {
    background-position: 0 -25px
}

#cboxNext {
    background-position: -25px 0;
    right: 22px
}

#cboxNext:hover {
    background-position: -25px -25px
}

#cboxClose {
    background-position: -50px 0;
    right: 0
}

#cboxClose:hover {
    background-position: -50px -25px
}

.cboxSlideshow_on #cboxPrevious,
.cboxSlideshow_off #cboxPrevious {
    right: 66px
}

.cboxSlideshow_on #cboxSlideshow {
    background-position: -75px -25px;
    right: 44px
}

.cboxSlideshow_on #cboxSlideshow:hover {
    background-position: -100px -25px
}

.cboxSlideshow_off #cboxSlideshow {
    background-position: -100px 0;
    right: 44px
}

.cboxSlideshow_off #cboxSlideshow:hover {
    background-position: -75px -25px
}

.trustedsite-floating-element {
    right: 0 !important
}

.hsds-beacon .hMPnUk,
.hsds-beacon .hMPnUk.is-mobile {
    z-index: 11050
}

.parent-menu:hover ul {
    display: block
}

.col-6 {
    display: inline-block;
    width: 49%
}

.m-nav-drop {
    display: none;
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: 8px solid #000;
    background: #ddd;
    text-align: left;
    z-index: 1
}

.m-nav-drop a {
    display: block;
    color: #000;
    padding: 8px 12.75% 8px 10%;
    white-space: nowrap
}

.m-nav-drop li+li {
    border-top: 1px solid #000
}

.nav-drop-parent {
    position: relative
}

.d-nav-drop {
    display: none;
    width: 360px;
    box-sizing: border-box;
    top: 38px;
    font-size: .75rem
}

.nav-drop-parent:hover .d-nav-drop {
    display: block;
    border-top: 28px solid #111
}

.nav-resources .nav-drop-parent:hover .d-nav-drop {
    margin-top: -13px
}

.mean-nav .nav-drop-parent:hover .d-nav-drop {
    border-top: 0
}

.offer-pop {
    position: absolute;
    top: 22vh;
    left: 50%;
    width: 570px;
    height: 60vh;
    max-height: 420px;
    z-index: 15;
    margin-left: -275px;
    overflow-y: auto;
    box-sizing: border-box;
    padding-bottom: 32px;
    border: 1px solid #000;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 1024px 64px #000;
    animation: 1s ease 1s normal forwards 1 fadein;
    -webkit-animation: 1s ease 1s normal forwards 1 fadein;
    opacity: 0
}

.offer-pop .close {
    display: block;
    padding: 12px;
    text-align: right
}

.offer-pop p {
    margin: 0 28px 16px;
    color: #59accc;
    font-weight: 700;
    text-transform: uppercase
}

.offer-pop p.pop-heading {
    margin-top: -16px
}

.offer-pop p+p {
    font-size: 14px;
    color: #555;
    text-transform: none;
    font-weight: 400
}

.offer-pop input[type=text],
.offer-pop input[type=email] {
    width: 310px;
    margin: 0 8px;
    padding: 8px
}

.offer-pop input[type=submit] {
    text-transform: uppercase
}

.optin-segment {
    margin: 16px 0
}

.optin-segment label {
    margin-left: 12px
}

.offer-pop .msg {
    margin-bottom: 0;
    text-transform: none
}

.offer-pop .submit-success-message[role=alert]+input {
    display: none
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@media(max-width:600px) {
    .d-nav-drop {
        width: auto
    }
    .nav-drop-parent>a:after {
        content: '>';
        display: inline-block;
        position: relative;
        padding-left: 8px
    }
    .nav-drop-parent:hover>a:after {
        transform: rotate(90deg);
        top: -6px;
        padding-left: 12px
    }
    .d-nav-drop {
        margin-top: 10px;
        padding: 1px 0 13px;
        background-color: #333
    }
    .offer-pop {
        width: 90%;
        left: 5%;
        top: 5vh;
        height: 90vh;
        max-height: 560px;
        margin-left: 0
    }
    .offer-pop input[type=email] {
        width: 250px
    }
    .offer-pop p {
        margin: 0 16px 16px
    }
    .optin-segment label {
        display: block;
        margin: 8px 0
    }
    #rtaFooterNav ul a {
        padding: 10px 0
    }
}

@media(max-width:1300px) {
    .nav-resources .nav-drop-parent:hover .d-nav-drop {
        margin-top: -21px;
        border-top-width: 36px
    }
}

.wg750-hide {
    display: none
}

.wg750-hide-inline,
.reduced-only-inline {
    display: none !important
}

.nav-new {
    position: relative;
    background: #111;
    font-family: open sans, monospace
}

.nav-new header a {
    color: #fff;
    text-decoration: none
}

.nav-new form {
    display: none;
    position: relative
}

.nav-new input {
    width: 100%;
    padding: 4px;
    border: 0
}

.nav-new button {
    position: absolute;
    right: 0;
    top: 3px;
    border: 0;
    background: 0 0
}

.topbar {
    font-weight: 600;
    background: #2a2a2a;
    text-align: center
}

.topbar li {
    display: inline-block;
    padding: 10px 24px;
    font-size: 14px;
    text-transform: uppercase
}

.topbar form {
    margin: -4px 0
}

.topbar .fa-key {
    margin-right: 2px;
    transform: rotate(314deg) scaleX(-1)
}

.topbar span+span {
    margin-left: 4px
}

.cart-bubble {
    display: inline-block;
    width: 24px;
    height: 22px;
    margin: 0 0 0 6px;
    padding: 1px;
    line-height: 1.5em;
    color: #fff;
    border-radius: 50%;
    background: #185A73;
}

.bottombar {
    max-width: 1006px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: content-box
}

.logo {
    float: left;
    padding: 30px 64px 30px 0;
    transition: padding .25s
}

.logo img {
    display: block;
    height: auto;
    transition: width .25s
}

.primary-nav {
    padding: 20px 0;
    margin-left: 190px;
    transition: padding .25s
}

.primary-nav>ul {
    max-width: 800px
}

.primary-nav>ul>li {
    display: inline-block;
    position: relative
}

.primary-nav>ul:first-child {
    border-bottom: 1px solid #acacac
}

.primary-nav>ul:first-child>li>a {
    display: block;
    padding: 16px 22px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase
}

.primary-nav>ul+ul li a {
    display: block;
    padding: 16px 22px;
    font-size: 12px;
    font-weight: 600
}

.primary-nav>ul>li:last-child {
    float: right
}

.primary-nav>ul>li:first-child>a {
    padding-left: 0
}

.primary-nav>ul>li:last-child>a {
    padding-right: 0
}

.primary-nav ul ul {
    display: none;
    position: absolute;
    left: 28px;
    top: 100%;
    background: #494949;
    z-index: 1;
    text-align: left
}

.primary-nav ul li:first-child ul {
    left: 0
}

.primary-nav ul li:hover ul {
    display: block
}

.primary-nav ul ul li a {
    display: block;
    padding: 12px 16px;
    font-size: 14px;
    white-space: nowrap
}

.primary-nav ul ul li a:hover {
    background-color: #2a2a2a
}

.primary-nav ul+ul a:hover {
    text-decoration: underline
}

.primary-nav ul+ul li:last-child a:hover {
    text-decoration: none
}

.primary-nav form {
    margin: 10px 0
}

.primary-nav .fa-search {
    padding-right: 4px
}

.nav-new.reduced .reduced-hide {
    display: none
}

.nav-new.reduced header {
    max-width: 1072px;
    margin: 0 auto
}

.nav-new.reduced .topbar {
    float: right;
    margin-left: 24px
}

.nav-new.reduced .primary-nav {
    margin-left: 96px;
    padding: 7px 0
}

.nav-new.reduced .primary-nav ul {
    border: 0
}

.nav-new.reduced .primary-nav ul+ul {
    display: none
}

.nav-new.reduced .primary-nav>ul:first-child>li>a {
    font-size: 14px
}

.nav-new.reduced .topbar {
    background: 0 0
}

.nav-new.reduced .topbar li {
    padding: 23px 12px
}

.nav-new.reduced .logo {
    padding: 12px 0
}

.nav-new.reduced .logo img {
    width: 64px
}

.nav-new.reduced li.search {
    padding-left: 24px;
    text-transform: none;
    font-size: 12px
}

.nav-new.reduced .search form {
    width: 108px
}

.nav-new.reduced .reduced-only-inline {
    display: inline-block !important
}

.nav-new.reduced .cart-bubble {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: -2px;
    padding: 2px;
    font-size: 11px
}

@media(max-width:1120px) {
    .nav-new.reduced .primary-nav>ul:first-child>li>a {
        padding: 16px 0
    }
}

@media(min-width:1024px) {
    .nav-new {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 100
    }
    .nav-new+main,
    .nav-new+#masthead-wrapper+main {
        margin-top: 195px
    }
    .primary-nav>ul {
        display: flex
    }
    .primary-nav>ul>li {
        flex: 1;
        white-space: nowrap;
        text-align: center
    }
}

@media(max-width:1023px) {
    .logo {
        padding-right: 32px
    }
    .primary-nav {
        margin-left: 158px
    }
    .primary-nav>ul {
        text-align: center
    }
    .primary-nav>ul:first-child>li>a {
        padding: 16px 12px;
        padding: 16px 3.5vw;
        font-size: 12px
    }
    .primary-nav>ul+ul li a {
        padding: 16px 12px;
        padding: 16px 2.5vw;
        font-size: 12px
    }
    .primary-nav>ul>li:last-child {
        float: none
    }
    .primary-nav form {
        width: 128px
    }
}

@media(max-width:960px) {
    .primary-nav>ul:first-child>li>a {
        padding: 16px 3vw
    }
}

@media(max-width:910px) {
    .primary-nav>ul:first-child>li>a,
    .primary-nav>ul+ul li a {
        padding: 16px 1vw
    }
    .primary-nav form {
        width: 80px
    }
}

@media(max-width:750px) {
    .logo {
        float: none;
        padding: 0
    }
    .logo img {
        width: 76px;
        height: auto;
        margin: 0 auto;
        padding: 8px 0
    }
    .nav-new .mobile-menu-toggle {
        position: absolute;
        top: 6px;
        left: 0;
        padding: 16px;
        font-size: 18px;
        color: #fff
    }
    .mobile-quick-actions {
        position: absolute;
        right: 16px;
        top: 24px
    }
    .mobile-quick-actions li {
        display: inline-block
    }
    .primary-mobile-nav {
        font-size: 13px;
        border-top: 1px solid #838383;
        text-transform: uppercase;
        text-align: center
    }
    .primary-mobile-nav li {
        display: inline-block;
        width: 50%;
        padding: 8px 0
    }
    .wg750-show {
        display: none !important
    }
    .wg750-hide {
        display: block
    }
    .wg750-hide-inline {
        display: inline-block !important
    }
    .mobile-nav-popout-overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5)
    }
    .mobile-nav-popout {
        position: absolute;
        top: 0;
        left: -360px;
        width: 320px;
        max-width: 90%;
        height: 100vh;
        padding: 16px;
        background: #111;
        z-index: 2
    }
    .mobile-nav-popout#mnav:target {
        left: 0
    }
    .mobile-nav-popout ul {
        text-align: left
    }
    .topbar {
        background: 0 0
    }
    .topbar li {
        padding: 10px 12px
    }
    .topbar li:first-child {
        padding-left: 0
    }
    .topbar li:last-child {
        position: absolute;
        right: 19px;
        top: 12px
    }
    .topbar a.close {
        color: #fff;
        font-size: 32px;
        font-weight: 400;
        text-transform: none
    }
    .primary-nav {
        height: 100%;
        margin-left: -16px;
        margin-top: 16px;
        padding-top: 0;
        padding-left: 16px;
        border-radius: 0 4px 0 0;
        background-color: #212121
    }
    .primary-nav>ul:first-child {
        border: 0
    }
    .primary-nav>ul:first-child>li {
        display: block
    }
    .primary-nav>ul:first-child>li>a {
        display: block;
        padding: 20px 0;
        font-size: 16px;
        font-weight: 600;
        border-bottom: 1px solid #4e4e4e
    }
    .primary-nav>ul>li:last-child {
        float: none
    }
    .primary-nav ul li.inactive:hover ul {
        display: none
    }
    .primary-nav li.parent:before {
        content: '^';
        display: block;
        float: right;
        padding: 22px 20px 16px 32px;
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        transform: scale(1.5, 1)
    }
    .primary-nav li.parent:not(.inactive):hover:before {
        padding: 19px 32px 19px 20px;
        transform: rotate(180deg) scale(1.5, 1)
    }
    .primary-nav>ul:first-child>li.parent:not(.inactive):hover>a {
        border: 0
    }
    .primary-nav ul ul {
        position: static;
        margin-right: 14px;
        padding: 8px 0;
        border-radius: 4px
    }
    .primary-nav ul ul li a {
        padding: 12px 16px;
        font-weight: 600
    }
    .primary-nav ul ul li a:hover {
        background-color: none;
        text-decoration: underline
    }
    .primary-nav ul+ul li {
        width: 50%;
        border-bottom: 1px solid #4e4e4e
    }
    .primary-nav ul+ul li a,
    .primary-nav ul+ul li:first-child a {
        padding-left: 28px;
        background: url(../images/nav-icons.png) 2px 17px no-repeat
    }
    .primary-nav ul+ul li.nav-pr a {
        background-position: 2px -135px
    }
    .primary-nav ul+ul li.nav-fi a {
        background-position: 0 -278px
    }
    .primary-nav ul+ul li.nav-sm a {
        background-position: 0 -445px
    }
}

.initial-hide, .tablet, .mobile { display: none;}
main { max-width: 100%;}
.nav-new + main, .nav-new + #masthead-wrapper + main { margin-top: 195px;}
a.button, .button { font-weight: bold;line-height: 1em;color: #fff;border-radius: 10px;background: #185A73;text-decoration: none;text-align: center;}

.banner { padding: 132px 0 240px 0;text-align: center;background: url(../images/home-page-kitchen.jpg) center center no-repeat;background-size: cover;}
.rta-kitchen-cabinets-banner { background: url(../images/rta-kitchen-cabinets-banner-bg.jpg) center center no-repeat;background-size: cover;
    margin-bottom: 48px;
    padding: 30px 0;
    font-size: 14px;
    font-weight: bold;
}
.rta-kitchen-cabinets-banner .button {
    width: 176px;
    margin: 18px 16px 0 0;
    padding: 8px 0;
    color: #fff;
    border-radius: 8px;
    background: #185A73;
    display: inline-block;
}
.rta-kitchen-cabinets-banner .button:hover {
    background-color: #59ACCC;
}
.rta-kitchen-cabinets-banner .container {
    max-width: 552px;
    margin: 0 auto;
}
.rta-kitchen-cabinets-banner .img-wrapper {
    float: left;
    width: 80px;
    height: 80px;
    margin: -4px 36px 0 0;
    border-radius: 50%;
}
.rta-kitchen-cabinets-banner .img-wrapper + p {
    padding-top: 4px;
}
.banner.sale { padding: 64px 0 64px 0;}
/* .intro { width: calc(100% - 32px);max-width: 624px; margin: 0 auto;padding: 32px;font-size: 30px;line-height: 2.75rem;border-radius: 20px;background: rgba(255,255,255,.9);overflow: hidden;} */
.intro h1 { margin: 0;font-size: 30px;font-weight: normal;}
.intro a { display: inline-block;color: inherit;font-weight: bold;line-height: 1em;text-decoration: none;border-bottom: 1px solid #000;}
.intro div a { width: 68%;margin: 32px 8px 8px 8px;padding: 16px 16px;font-size: 18px;color: #fff;border-radius: 10px;background: #185A73;}
.sale .intro { height: 530px;}

.intro a.sale-headline { text-decoration: none;border: 0;}
.sale-line1 { margin: 0;font-size: 48px;font-weight: bold;line-height: 1em;color: #222;text-transform: uppercase;}
.sale-line2 { margin: 8px 0;font-size: 44px;font-weight: bold;line-height: 1em;color: #ad1414;text-transform: uppercase;letter-spacing: 4px;}
.sale-line3 { width: 100%;margin: 0 auto 24px auto;padding-bottom: 32px;font-size: 18px;color: #222;border-bottom: 1px solid #222;}
.sale-line3 span { text-decoration: underline;}

.bilt { width: 360px;margin-left: 16px;padding: 60px 24px;}
.intro, .bilt { display: inline-block;vertical-align: top;}
.sale .bilt { width: 300px;height: 530px;}
.bilt { position: relative;font-weight: bold;text-align: center;border-radius: 20px;background: #eaeff2;}
.bilt a {  color: #2b586f;text-decoration: none;}
.bilt img { display: block;max-width: 100%;height: auto;margin: 0 auto;}
.bilt img.mobile { display: none;}
.bilt span { display: block;margin: 36px 0 12px 0;font-size: 28px;} 
.bilt span + span { margin: 0 0 32px 0;font-size: 18px;text-transform: uppercase;}
.bilt span + span + span { font-size: 16px;letter-spacing: 1px;}
.bilt span.link { font-size: 18px;color: #000;text-transform: none;text-decoration: underline;letter-spacing: 0;} 
.bilt .desktop { position: absolute;bottom: 0;left: 0;width: 100%;padding: 16px 0 20px 0;text-align: center;border-radius: 0 0 20px 20px;background: #838788;}

.nosale .intro { max-width: 624px;}
.nosale .intro, .nosale .bilt { height: 248px;}
.nosale .bilt { margin-left: 16px;padding: 32px 16px;text-align: left;}
.nosale .bilt .desktop { display: none;}
.nosale .bilt .mobile { display: block;margin: 0;}
.nosale .bilt a { display: flex;}
.nosale .bilt div img:first-child { position: absolute;top: 106px;left: -32px;width: 140px;transform: rotate(270deg);}
.nosale .bilt div img + img { width: 72px;margin: 62px 32px 0 28px;} 
.nosale .bilt span { margin: 24px 0 6px 0;font-size: 20px;} 
.nosale .bilt span + span { margin: 0 0 10px 0;font-size: 13px;}
.nosale .bilt span + span + span { font-size: 11px;}
.nosale .bilt span.link { margin-top: 18px;font-size: 14px;} 

@media (max-width: 980px) {
	.sale .intro, .intro { height: auto;}
	.sale .bilt, .bilt { display: block;width: calc(100% - 32px);max-width: 624px;height: auto;margin: 16px auto 0 auto;padding: 32px 16px;text-align: left;}
	.banner .bilt .desktop { display: none;}
	.banner .bilt .mobile { display: block;margin: 0;}
	.banner .bilt a { display: flex;}
	.banner .bilt div img:first-child { position: absolute;top: 84px;left: 32px;width: 140px;transform: rotate(270deg);}
	.banner .bilt div img + img { width: 72px;margin: 40px 96px 0 96px;} 
	.banner .bilt span { margin: 0 0 12px 0;} 
	.banner .bilt span + span { margin: 0 0 16px 0;} 
	.banner .bilt span.link { margin: 12px 0 0 0;} 
	
	.nosale .bilt { margin: 16px auto;max-width: 580px;height: auto;}
}
@media (max-width: 600px) {
	.banner .bilt div img:first-child { top: 84px;left: -32px;width: 140px;}
	.banner .bilt div img + img { margin: 40px 32px 0 24px; } 
	.banner .bilt span { margin: 0 0 6px 0;font-size: 20px;} 
	.banner .bilt span + span { margin: 0 0 10px 0;font-size: 13px;}
	.banner .bilt span + span + span { font-size: 11px;}
	.banner .bilt span.link { margin-top: 18px;font-size: 14px;} 
}

.offers { position: relative;font-weight: bold;font-size: 18px;text-align: center;background: #eee;}
.offers h2 { display: inline-block;color: #000;}
.offers div { display: inline-block;width: 50%;max-width: 1112px;margin: 0 auto;padding: 16px;}
.offers a { margin-left: 24px;color: #000;font-weight: normal;text-transform: none;}

.quick-ship { padding: 28px 0 28px 0;background-color: #E9EFF2;}
.quick-ship .inner { position: relative;max-width: 1136px;margin: 0 auto;padding-top: 44px;}
.quick-ship .inner > div { display: inline-block;vertical-align: middle;}
.quick-ship .inner > div + div { max-width: 320px;margin-left: 8%;}
.quick-ship .inner div.desktop { max-width: 708px;}
.quick-ship .qsg-doors { padding-left: 42px;}
.quick-ship .qsg-logo { position: absolute;left: 0;top: 16px;border-radius: 50%;box-shadow: 0 3px 6px rgba(0,0,0,.29); }
.quick-ship h2 { margin-bottom: 28px;font-size: 20px;font-weight: bold;color: #185A73;text-transform: uppercase;}
.quick-ship p { font-size: 30px;font-weight: 600;line-height: 1.4em; }
.quick-ship a.block-link { text-decoration: none;color: inherit;}
.quick-ship a.link { display: inline-block;margin-right: 16px;font-size: 18px;}
.quick-ship .button { margin-top: 20px;padding: 16px 40px;}
.quick-ship .mobile { display: none;}
@media(max-width: 1200px) {
	.quick-ship .qsg-logo { left: 24px;}
	.quick-ship .inner > div + div { max-width: 240px;margin-left: 7.5vw;text-align: center;}	
	.quick-ship h2 { margin-bottom: 24px;font-size: 16px;}
	.quick-ship p { font-size: 22px;line-height: 1.25em;}
	.quick-ship a.link { margin-top: 24px;}
}
@media(max-width: 1114px) {
	.quick-ship .inner > div + div { margin-left: 3vw;}	
}
@media(max-width: 1023px) {
	.nav-new + main, .nav-new + #masthead-wrapper + main { margin-top: 0;}

	.quick-ship { text-align: center;}	
	.quick-ship .inner > div, .quick-ship .inner > div + div { display: block;width: 100%;margin: 0 auto;} 
	.quick-ship .inner > div { position: relative;max-width: 708px;margin: 0 auto;}
	.quick-ship .inner > div + div { max-width: 600px;margin: 32px auto;}
	.quick-ship .qsg-logo { top: -32px;left: -42px;}
	.quick-ship .qsg-doors { padding-left: 0;}

	.nosale .intro { max-width: 580px;}	
	.nosale .intro h1, .nosale .intro h1 + a { font-size: 26px;}
    .rta-kitchen-cabinets-banner .container {
        padding-left: 4%;
        padding-right: 4%;
    }
    .rta-kitchen-cabinets-banner .img-wrapper {
        margin-right: 10px;
    }
    .rta-kitchen-cabinets-banner .button {
        width: auto;
        padding: 8px;
        font-size: 12px;
        font-weight: normal;
        margin-right: 5px;
    }
}
@media(max-width: 850px) {
	.quick-ship .qsg-logo { left: -8px;}
}
@media(max-width: 750px) {
	.quick-ship .inner  { padding-top: 8px;}
	.quick-ship .inner > div { max-width: 280px;}
	.quick-ship .inner > div + div { max-width: 350px;margin: 16px auto 0 auto;padding: 0 24px;} 
	.quick-ship .qsg-logo { width: 67px;height: 67px;left: -24px;top: -16px;}
	.quick-ship .mobile { display: block;}
	.quick-ship .desktop { display: none;}
	.quick-ship a.link + a { display: block;font-size: 16px;}
}


.props { max-width: 1106px;margin: 12px auto 24px auto;}
.props > div { padding: 40px 0 32px 0;text-align: center;}
.props h2 { margin: 0 0 48px 0;font-size: 28px;font-weight: bold;}
.props li { display: inline-block;width: 22.5%;max-width: calc(184px + 7%);min-height: 214px;margin: 0 1%;padding: 32px 1% 20px 1%;border: 2px solid #185A73;border-radius: 20px;vertical-align: bottom;}
.props a { display: block;text-decoration: none;}
.props h3 { margin: 32px 0 8px 0;font-size: 18px;font-weight: bold;color: #185A73;text-transform: uppercase;}
.props li:last-child h3 { margin-top: 24px;}
.props p { min-height: 36px;max-width: 200px;margin: 4px auto 0 auto;font-size: 12px;line-height: 1.5em;color: #185A73;}
.props li:last-child p { max-width: 180px;}

@media (max-width: 980px) {
	.props li { width: 23.375%;margin: 0 .25%;}
	.props h3 { font-size: 14px;}
	.props p { max-width: 160px;font-size: 10px;}	
	.props li:last-child p { max-width: 160px;}	
	.props li:nth-child(3) img { width: 84px;}
}
@media(max-width: 960px) {
	.offers { max-width: 820px;margin: 0 auto;font-size: 14px;}
}
@media(max-width: 750px) {
	.banner.sale { margin-top: -128px;}
	.banner, .banner.sale { padding: 55.5vw 0 0 0;background: url(../images/home-page-kitchen-mobile.jpg) center 0 no-repeat;background-size: 100% auto;}
	.intro { background: #fff;}
	.banner .intro, .banner .intro h1, .banner .intro h1 + a { font-size: 20px;line-height: 1.75rem;}
	.intro h1 { margin-bottom: 12px;}
	.intro div { margin-top: 36px;}
	.intro div a { width: 90%;max-width: 320px;margin: 4px;}

	.sale-line1 { font-size: 19px;letter-spacing: 2px;}
	.sale-line2 { font-size: 17px;}
	.sale-line3 { margin-bottom: 12px;padding-bottom: 16px;font-size: 14px;}
	.intro img { margin: -8px 0 4px 0;width: 144px;height: auto;}
	
	.offers { margin-top: 16px;padding: 0;font-size: 12px;}
	.offers div, .offers div + div { display: block;width: 100%;padding: 16px;text-align: center;}
	.offers div + div { border-top: 1px solid #111;}
	.offers div + div a { margin-left: 48px;}

	.props { margin: 0 auto;}
	.props li { width: 47%;max-width: 100%;min-height: 144px;margin: 1%;padding: 12px 1% 4px 1%;}
	.props img { width: 72px;}
	.props h3 { margin-top: 12px;}
	.props li:nth-child(1) h3, .props li:nth-child(2) h3 { margin-top: 0;} 
	.props li:last-child h3 { margin-top: 4px;}
	.props p { font-size: 10px;}
	.props li:nth-child(3) img { width: 64px;}
} 
@media(max-width: 600px) {
	.mobile { display: block;}
}
.timer { width: 200px;height: 40px;margin: -1em auto 2em auto;text-align: center;}

.filters, .lines-wrapper { display: inline-block;vertical-align: top;}
.filters { width: 21%;margin-right: 3%;}
.lines-wrapper { width: 75%;}

.filter { width: 100%;margin-bottom: 12px;padding: 8px 12px 4px 12px;font-size: 15px;border: 1px solid #E3E3E3;border-radius: 5px;box-shadow: 0 0 6px rgba(0,0,0,.31);}
.filter.expanded { padding-bottom: 12px;}
.filter legend {cursor: pointer; display: block;width: 100%;padding: 4px 0 10px 34px;font-size: 15px;color: #000;background: url(../images/elements.png) no-repeat;background-size: 512px 512px;}
.filter.expanded legend { margin-bottom: 16px;border-bottom: 1px solid #E3E3E3;}
.filter label { display: none;}
.filter.expanded label { display: block;margin: 0 0 4px -4px;}
.filter label input { width: 20px;height: 20px;margin-right: 12px;border-color: #E3E3E3;}
.filter label input, .filter label span { display: inline-block;vertical-align: middle;}
.filter input[type=submit] { width: 100%;margin-top: 8px;padding: 6px 0 4px 0;border: 1px solid #E3E3E3;border-radius: 5px;background: none;}

form.filter-room div { display: none;}

.filter-room { margin-bottom: 28px;padding: 0 4px;border: 0;box-shadow: none;text-align: center;cursor: pointer;}
.filter-room span { cursor: pointer;}
.filter-room legend, .filter-room label input { display: none;}
.filter-room.expanded label { display: inline-block;font-size: 14px;font-weight: bold;vertical-align: middle;}
.filter-room fieldset > div { display: inline-block;width: 160px;height: 44px;margin: 0 14px 0 12px;border-radius: 30px;background-color: #eee; vertical-align: middle;}
.filter-room div div { display: block;width: 56%;height: 44px;background-color: #fff;box-shadow: 0 3px 10px rgba(0,0,0,.29);border-radius: 30px;}
.filter-room div div.bathroom { float: right;}

.filter legend:after { content: '\f107';float: right;padding-right: 2px;font-family: 'Font Awesome 5 Free';font-weight: 900;color: #919191;cursor: pointer;}
.filter.expanded legend:after { content: '\f106';}


.filter-color label > span:before { content: '';display: inline-block;width: 10px;height: 10px;margin: 0 6px 0 2px;border-radius: 50%;border: 1px solid #D5D5D5;box-shadow: 0 0 2px rgba(0,0,0,.29);}
.filter-color label input[value=grey] + span:before { background: #C1C1C1;border-color: #C1C1C1;}
.filter-color label input[value=black] + span:before { background: #000000;border-color: #000000;}
.filter-color label input[value=brown] + span:before { background: #862C34;border-color: #862C34;}
.filter-color label input[value=blue] + span:before { background: #323D59;border-color: #323D59;}

.filter-room legend { background: none;}
.filter-color legend { background-position: 0 -283px;}
.filter-price legend { padding-top: 6px;background-position: -342px -108px;}
.filter-style legend { background-position: 0 -212px;}
.filter-doorstyle legend { background-position: -338px -208px;}
.filter-type legend { background-position: 0 -352px;}
.filter-features legend { background-position: -338px -284px;}

.popular-styles { margin-bottom: 32px;padding: 22px;font-size: 14px;font-weight: bold;border: 4px solid #E3E3E3;border-radius: 12px; display: flex; align-items: center;}
.popular-styles * { display: inline-block;vertical-align: middle;}
.popular-styles h3 { width: 7.5%;margin-right: 2.5%;padding: 0 16px;text-align: center;}
.popular-styles a { width: 21.5%;min-height: 68px; margin-right: .5%;border: 2px solid #fff;border-radius: 10px;box-shadow: 3px 3px 15px rgba(0,0,0,.29);text-decoration: none;}
.popular-styles a:last-child { margin-right: 0;}
.popular-styles span { display: block;position: relative;left: -10px;margin-top: 24px;text-align: center;}
.popular-styles img { float: left;min-width: 64px;min-height: 64px;border-radius: 10px;}
.popular-styles.bathroom img { margin: 0 12px 0 4px;}
.popular-styles.bathroom a:last-child span { margin-top: 16px;}

.filter-line-count-text { margin-bottom: 8px;font-size: 18px;}

.lines { display: flex;flex-wrap: wrap;margin: 0 -1vw;}
.rta-kitchen-cabinets-wrapper .line { position: relative;width: calc(25% - 1.5vw);margin: .75vw;padding: 0 20px 16px 20px;border: 4px solid #E3E3E3;border-radius: 12px;overflow: hidden;}
.rta-kitchen-cabinets-wrapper .line .img-wrapper { display: block;height: 216px;overflow: hidden;margin: 0 -20px;text-align: center;box-shadow: inset 0 -4px 12px -8px #888;}
.rta-kitchen-cabinets-wrapper .line .img-wrapper img { width: 50%;min-width: 0;margin-top: 16px;height: auto;}
.line.room-bathroom .img-wrapper img { width: 62%;}
.rta-kitchen-cabinets-wrapper .line .img-wrapper span + span img { width: 100%;height: auto;min-height: 212px;margin-top: 0;}
.rta-kitchen-cabinets-wrapper .line .img-wrapper span + span { display: none;}
.rta-kitchen-cabinets-wrapper .line h2 { margin: 20px 0 4px 0;font-size: 16px;font-weight: bold;line-height: 1.25em;}
.rta-kitchen-cabinets-wrapper .line h2 a { text-decoration: none;}
.rta-kitchen-cabinets-wrapper .line .button { width: 100%;font-size: 13px;padding: 12px 0;border: 2px solid #1A5B11; display: block;background-color: #1A5B11;} 
.rta-kitchen-cabinets-wrapper .line .button + .button, .preview .button + .button { width: 60%;margin-top: 12px;color: #185A73;background: none;border-color: #185A73;}
.line.room-bathroom .button + .button { width: 100%;}
.rta-kitchen-cabinets-wrapper .line .preview-style { display: block;margin-top: 24px;font-size: 13px;text-align: center;}
.rta-kitchen-cabinets-wrapper .line .button + .button + .preview-style { float: right;}
.rta-kitchen-cabinets-wrapper .line .features { position: relative;margin: -22px -20px 0 -20px;padding: 3px 20px;font-size: 11px;color: #fff;background: #185A73;text-align: center;}
.rta-kitchen-cabinets-wrapper .line .features li { display: inline-block;line-height: 1.1em;}
.rta-kitchen-cabinets-wrapper .line .features li + li { margin-left: 12px;padding-left: 12px;border-left: 1px solid #fff;}
.rta-kitchen-cabinets-wrapper .line .features li.quick-ship { padding-left: 46px;background: url(../images/elements.png) -321px -455px no-repeat;background-size: 512px 512px;padding-top: 0;padding-bottom: 0;} 
.rta-kitchen-cabinets-wrapper .line .button.disabled { opacity: .35;}
.product-price { margin: 10px 0 14px 0;font-size: 12px;color: #666;}
.product-price .strike { font-size: 14px;color: #8A0003;text-decoration: line-through;}
.product-price strong { font-size: 16px;color: #111;}

.tablet.filter-room-sort { margin-bottom: 24px;}
.tablet > .filter, .tablet .sort-filter { display: inline-block;width: 35%;}
.tablet .sort-filter { width: 60%;float: right;margin-top: 16px;padding: 12px;font-size: 14px;font-weight: bold;color: #185A73;border-radius: 8px;border: 2px solid #185A73;text-align: center;text-decoration: none;}


@media (min-width: 1024px) {
.nav-new + main, .nav-new + #masthead-wrapper + main {
    margin-top: 196px;
}
}
@media (max-width: 1600px) {
	.filter-room fieldset > div { width: calc(100% - 160px);}
	.rta-kitchen-cabinets-wrapper .line .button { width: 100%;}
	.rta-kitchen-cabinets-wrapper .line .button + .button { width: 100%;}
	.rta-kitchen-cabinets-wrapper .line .button + .button + .preview-style { display: block;float: none;margin: 18px 0 4px 0;text-align: center;}
	.popular-styles.bathroom span { max-width: 88px;margin: 16px 0 0 90px;}
} 
@media (max-width: 1400px) {
	.popular-styles span { max-width: 96px;margin: 16px 0 0 78px;}
}
@media (max-width: 1300px) {
	.popular-styles h3 { width: 11%;margin: 0 12px 0 -12px;}
	.popular-styles span { max-width: 96px;margin: 16px 0 0 68px;}
	.popular-styles.bathroom span { margin-left: 80px;}
}
@media (max-width: 1220px) {
	.rta-kitchen-cabinets-wrapper .line { width: calc(33.3% - 1.5vw);}
	.popular-styles.bathroom img { transform: scale(.8);margin-left: -6px;}
	.popular-styles.bathroom span { margin-left: 72px;}
}
@media (max-width: 1200px) {
	.filter-room fieldset > div, .filter-room div div { height: 30px;}
}
@media (max-width: 1180px) {
	.popular-styles.bathroom span { max-width: 80px;font-size: 12px;}
}
@media (max-width: 1024px) {
	.tablet { display: block;}
	.banner .container { max-width: 606px;}
	.container { padding-left: 4%;padding-right: 4%;}
	.lines-wrapper { display: block;width: 100%;}

	.filters { display: none;position: fixed;overflow: scroll;top: 0;right: 0;width: 80%;max-width: 320px;height: 100%;margin-right: 0;background: #fff;z-index: 10000;}
	.filters .filter-room { display: none;}
	.filter { margin: 0;padding: 16px 16px 10px 16px;border-top: 1px solid #E3E3E3;box-shadow: none;border-radius: 0;}	
	.filter-single label { display: block;}
	.filter:last-child label span { max-width: 100%;}

	.filter.expanded input { width: 24px;height: 24px;}

	.filter-room { padding-left: 0;border-top: 0;} 
	.filter-room fieldset > div, .filter-room div div { height: 44px;}
}
@media (max-width: 920px) {
	.rta-kitchen-cabinets-wrapper .line .button { font-size: 12px;}	
	.popular-styles h3 { display: none;}
	.mobile.popular-styles-heading { display: block;margin-bottom: 12px;font-size: 16px;font-weight: bold;text-align: center;}
	.popular-styles a { width: 24.25%;}

	.filter legend, .rta-kitchen-cabinets-wrapper .line .features li.quick-ship { background-image: url(../images/elements.webp);}
}
@media (max-width: 750px) {
	h1 { margin: 32px 0 28px 0;font-size: 18px;}
	.breadcrumb { font-size: 12px;}
	.mobile { display: block;}
	.desktop { display: none;}
	.lines-wrapper { margin: 24px 0;}
	.rta-kitchen-cabinets-wrapper .line { width: calc(49.9% - 1.5vw);margin: 2vw .75vw;padding: 0 12px 16px 12px;}
	.rta-kitchen-cabinets-wrapper .line h2 { font-size: 14px;}
	.rta-kitchen-cabinets-wrapper .line .img-wrapper img { width: 74%;}
	.rta-kitchen-cabinets-wrapper .line .features { margin: -22px -56px 0 -56px;letter-spacing: -.5px;}
	.rta-kitchen-cabinets-wrapper .line .features li + li { margin-left: 4px;}
	.rta-kitchen-cabinets-wrapper .line .features li.quick-ship { padding-left: 32px;background-position: -334px -455px;}
	.rta-kitchen-cabinets-wrapper .line .button + .button + .preview-style { float: none;}
	
	.tablet > .filter, .tablet .sort-filter { width: 48%;}
	
	.banner { margin-bottom: 32px;font-size: 12px;}
	.banner .container { max-width: 414px;}
	.banner p { font-weight: normal;}
	.banner p span { display: block;font-weight: bold;}
	.banner .img-wrapper { width: 60px;height: 60px;margin: 8px 18px 0 0;}
	.banner img { width: 60px;height: 60px;}
	.banner .button { width: 124px;margin: 8px 8px 0 0;font-size: 12px;}
	
	.popular-styles { margin: 0 0 16px -8px;padding: 8px 12px 8px 8px;white-space: nowrap;overflow-x: scroll;border: 0;}
	.popular-styles a { margin-right: 8px;width: 42%;min-height: 46px;font-size: 11px;box-shadow: 2px 2px 8px rgba(0,0,0,.29);}
	.popular-styles a span { max-width: 76px;margin: 16px 0 0 56px;white-space: normal;}
	.popular-styles img { width: 42px;height: 42px;}
	.popular-styles.bathroom span { margin-top: 16px;margin-left: 60px;}

	.filter-room { margin-bottom: 16px;}
	.filter-room.expanded label { font-size: 12px;}
	.filter-room fieldset > div { width: calc(100% - 128px);margin: 0 8px;}
	.tablet.filter-room-sort { margin-bottom: 0px;}

	.filter-line-count-text { font-size: 12px;}
}
@media (max-width: 500px) {
	.tablet > .filter { width: 59%;}
	.tablet .sort-filter { width: 36%;}	

	.popular-styles.bathroom img { margin-right: 6px;}
}
@media (max-width: 372px) {
	.banner .button { width: auto;padding: 8px;}

	.popular-styles img { margin-left: -8px;}
}
 