body {
    min-width : 315px;
  }

  #topnav ul { display: none; }

  #content img { max-width: 100%; height: inherit;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    margin-top: 0px;
  }


  #shoppingcart { display: none; }

  .documentContent { padding-right: 0 !important; }

  /*.container { max-width : 1280px !important; }*/

  #content {
    padding-right: 1em !important;
    padding-left: 1em !important;
  }

  .column-right { min-height: auto !important; margin: 0; padding: 0; border: 0; box-sizing: content-box; text-align: center; }
  .column-left, .column-right { width: 100%; display: inline-block; vertical-align: top; }

  h1 { font-size : 28px; color : rgb(51, 51, 51); }
  .low-price { display: none; float: none; margin: 6px 0 16px 59px; }
  .intro { font-size: 14px !important; color: #000; }


  .checkout-icons { margin: 48px 0; }

  .cart-promo { margin: 24px 24px 0 24px; text-align: center; }
  .cart-promo .fa-check-circle-o { color: #080; font-size: 24px; position: relative; top: 5px; margin-right: 4px; }
  .cart-promo a { color: #008; border: 0 !important; text-decoration: underline !important; }

  table.cart { width: 100%; margin-top: 16px; font-size: 14px; color: #444; }
  table.cart th, table.cart td { padding: 8px 16px; }
  table.cart th { font-weight: normal; text-align: left; background-color: #eee; white-space: nowrap; }

  table.cart th.remove-head { text-align: center; }
  table.cart th.price-head { text-align: right; }

  table.cart .cartItem td { border-bottom: 1px solid #ddd; }
  table.cart td.prod-col a { font-weight: bold; text-decoration: none; }
  table.cart td.quantity-col input { width: 36px; padding: 4px 6px; font-family: inherit; font-weight: bold; color: #444; }
  table.cart td.price-col { text-align: right; font-size: 18px; white-space: nowrap; }
  table.cart td.remove-col { text-align: center; }
  table.cart td.remove-col a { font-size: 14px; color: rgb(153, 153, 153); cursor: pointer; }
  table.cart td.remove-col a:hover { font-size: 18px; }

  table.cart tfoot td { padding: 8px; background-color: #eee; }
  table.cart tfoot td + td { text-align: right; }
  table.cart tfoot td .continue-shopping { border: 0; background: none; }

  .qty-multiply { color: #888; margin-left: 4px; }

  .row-compare { font-size: 14px; }

  table.cart td.cart-actions { padding: 16px; text-align: right; background-color: rgb(255, 255, 255) !important;}
  .cart-actions a { display: inline-block; margin: 0 32px 0 0; font-size: 16px; color: rgb(34, 34, 34); text-decoration: none; vertical-align: middle; }
  .cart-actions a i { margin-right: 4px; color: #828282; }
  .cart-actions a:hover i { color: #555; }

  .model-asmb-wrapper { display: inline-block; margin: 4px 0; white-space: nowrap; }
  table.cart td.prod-col a.model-asmb { padding: 2px 8px; font-weight: normal; font-size: 12px; color: #fff; background-color: rgb(89, 172, 204); border-radius: 8px; }

  #content .rta-button-flat { box-sizing: border-box; }
  .rta-button-flat, .rta-button-flat:hover {
    background : rgb(34, 34, 34);
    color : rgb(255, 255, 255);
    text-transform : capitalize;
    border : 1px solid rgb(34, 34, 34);
    font-size: 14px;
  }
  #content .rta-button-flat.add-cart { position: initial; padding: 5px 12px; font-size: 14px; font-weight: normal; color: #fff; border: 1px solid #7f7f7f; background-color: rgb(34, 34, 34); box-shadow: none; text-shadow: none;}
  #content .rta-button-flat.call { font-family: 'Open Sans Condensed'; border: 1px solid rgb(89, 172, 204); font-size: 18px; font-weight: normal; background-color: rgb(89, 172, 204); box-shadow: none; text-shadow: none; text-transform: uppercase; letter-spacing: 1px;}
  #content .rta-button-flat.call-alt { padding: 6px 16px; font-size: 14px; font-weight: normal; color: #fff; border: 1px solid #000; background-color: rgb(34, 34, 34) !important; box-shadow: none; text-shadow: none; }

  .update-cart { text-transform: none; }
  .update-cart i { font-size: 14px; margin-right: 4px; }

  #financing-cta {
      box-shadow: 1px 2px 5px rgba(0,0,0,.35), inset 0 0 0 3px #eb2958;
      border: solid 1px #000;
      margin: 0 auto 36px auto;
      height: 20px;
      background-color: #c9234b;
      color: #fff;
      display: block;
      text-align: center;
      padding: 10px;
      font-family: "WhitneySB", sans-serif;
      font-size: 1.2em; text-decoration: none; }

  .cart-container { width: 80%; max-width: 525px; margin: 0 auto; padding: 16px 0; }

  #cabinet-style-selector td { padding-left: 24px; background-color: #f7f7f7; }
  #cabinet-style-selector td label { display: inline-block; margin-right: 8px; line-height: 24px; }
  #cabinet-style-selector td select { padding: 4px; }

  #cabinet-style-selector > td:nth-of-type(1) {
    background-color: rgb(243, 243, 243);
  }

  #cabinet-style-selector > td:nth-of-type(2) {
    background-color: rgb(243, 243, 243);
  }



  .checkout-button { float: right; text-align: right; }
  #continue-shopping { margin: 14px 0 0 0; }
  .column-right .checkout-button-top input[type="submit"] {
    width: auto;
  }
  form.checkout-button-top {
    padding: 0px 0px 15px 0px; background-color: rgb(243, 243, 243);
  }
  form.checkout-button-top > input {
    font-size: 24px !important;
  }


  .totals-wrapper { width: 178px; margin: -1px 0px 0px 0px; padding: 15px 0px 0px 0px; font-size: 18px; text-align: left; color: #000; background-color: rgb(243, 243, 243); }
  .totals-wrapper .price { padding-left: 8px; text-align: right; }
  .totals-wrapper .price strike { color: #a00; }
  .totals-wrapper .price strike span { color: #888; font-weight: normal; }
  .totals-wrapper .price.savings { color: rgb(89, 172, 204); }
  .totals-wrapper .fa.fa-tag { position: absolute; color: #a00; margin: 4px 0 0 4px; }
  .totals-wrapper td { white-space: nowrap; }

  .totals-wrapper .totals {
    margin: 0px auto;
    font-size: 20px;
  }
  tr.full-total {
    font-weight: 700; color: rgb(34, 34, 34);
  }
  tr.full-total > td:nth-of-type(2) > span {
    font-weight: 700;
  }


  .shipping-block { width: 100%; display: inline-block; margin: 0; padding: 15px 0px 0px 0px; text-align: center; background-color: rgb(243, 243, 243); }
  .shipping-block h3 { position: relative; top: 1px; display: inline-block; margin: 0 16px 0 0; font-size: 18px; color: #444; }
  .shipping-block input { width: 72px; padding: 5px 4px; }
  .shipping-block a.rta-button-flat { padding: 4px 16px 3px 16px; }
  #shipping-detail { display: none; }

  .checkout-button-bottom { display: inline-block; width: 100%; margin: 0; text-align: right; }

  .cart-actions .continue-shopping-bottom { margin-left: 0;   color : rgb(255, 255, 255);
    font-weight : 400;
    font-size : 14px;
    float : left; color: #fff; font-size: 14px; }
  .continue-shopping-bottom + .checkout-button { margin-right: 8px; }

  .trust-icons { text-align: center; }
  .trust-icons a + img { margin: 0 12px; }

  .cart-testimonials { margin-top: 48px; padding-top: 48px; border-top: 1px solid #ddd; }
  .cart-testimonials:before { content: '\f10d'; float: left; margin: -2px 32px 0 0; font-weight: 900; font-size: 64px; color: #5a9b28; font-family: 'Font Awesome 5 Free'; }
  .cart-testimonials p { min-height: 112px; margin: 0 16px 0 96px; font-size: 14px; color: #000; line-height: 1.5em; overflow: hidden; }
  .cart-testimonials p:first-line { font-size: 16px; font-weight: bold; }
  .cart-testimonials p span { display: block; margin: 0; height: 8px }

  .cart-testimonial-chooser { margin: 16px 0 64px 0; color: #eee; text-align: center; }
  .cart-testimonial-chooser span { display: inline-block; margin: 0 8px; padding: 0 1px; line-height: 8px; border: 1px solid #ddd; border-radius: 50%; background-color: #eee; box-shadow: 0 1px 2px #aaa; cursor: pointer; }
  .cart-testimonial-chooser span.current { color: #5a9b28; }


  #save-compare-wrapper { border: 1px solid #005889; }
  #save-compare-wrapper h3 { margin: 0; padding: 4px 8px; color: #fff; background: #005889; font-weight: normal; }

  #save-compare { padding: 8px; }

  #recent-carts { background-color: #fafafa; padding: 0 8px 8px 8px; }
  #recent-carts h3 { background: #e5e5e5; color: #000; padding: 6px 8px; margin: 0 -8px 0 -8px; }

  #save-compare form { margin-bottom: 14px; }
  #save-compare form p { float: right; margin: 11px 16px 0 0; font-size: 12px; }
  input#cart-name { width: 192px; padding: 9px 4px; }
  #button-save { border: 0; background: none; }

  .compare-cart { float: left; width: 28%; padding: 2% 3% 3% 3%; }
  .compare-cart + .compare-cart { background-color: #fff; }
  .compare-cart + .compare-cart + .compare-cart { background-color: #fafafa; }
  .compare-cart h4 { margin: 0 0 16px 0; color: #005889; font-size: 13px; }
  .delete-cart { margin-left: 16px;  font-size: 14px !important; color: #a00 !important; cursor: pointer; }

  .compare-cart strong { display: block; float: right; margin: 0 0 0 0; font-weight: normal; font-size: 11px; color: #888; }
  .compare-cart strong.total { padding: 3px 6px; }

  .compare-cart .load-cart { display: block; color: #a00; text-decoration: none; }
  .compare-cart .load-cart:hover span.fa:before { content: '\f0a9'; }

  .compare-first { border-left: 0; padding-left: 0; }
  .compare-last { border-right: 0; padding-right: 0; }

  .compare-cart-item { font-size: 11px; }
  .compare-cart-item h5 { color: #333 !important; font-size: 11px; }

  .cart-upsell-wrapper { height: 90px; padding: 50px 0 0 0 !important;   border-top : 1px solid rgb(221, 221, 221); margin-top : 50px; }
  .recommend-wrapper { height: auto; margin-top: 16px; }
  .cart-upsell-wrapper .cart-recommend { width: 92%; height: auto; padding: 16px 0 !important; }
  .cart-upsell-wrapper .scroll-wrapper { width: 584px; max-width: 100%; overflow: hidden; white-space: nowrap; }
  .cart-upsell-wrapper h3 { font-size: 20px; color: rgb(34, 34, 34); text-align: left; }
  .cart-upsell-wrapper p { margin: 5px 110px 5px 95px; font-size: 11px; color: #2d1919; max-height : 82px; overflow-x : hidden; overflow-y : hidden; }
  .cart-upsell-wrapper p a { color: #2d1919; }
  .cart-upsell-wrapper strong { display: block; font-size: 13px; }

  .upsell-image-wrapper { display: block; height: 88px; overflow: hidden; }
  .upsell-image-wrapper img { margin-top: -20px; height: 88px; }

  .cart-upsell-wrapper .cart-recommend .upsell-item { margin: 4px; height: 210px; text-align: center; }

  .upsell-prev, .upsell-next { margin-top: 40px; padding: 6px 8px; font-size: 15px; color: #555; border: 1px solid #a2a6ac; border-radius: 2px;
                               background: #f6f7f9;
                               background: -moz-linear-gradient(top, #f6f7f9 0%, #e7e9ec 100%);
                               background: -webkit-linear-gradient(top, #f6f7f9 0%,#e7e9ec 100%);
                               background: linear-gradient(to bottom, #f6f7f9 0%,#e7e9ec 100%); }
  .upsell-prev { float: left; }
  .upsell-next { float: right; }
  .cart-upsell-wrapper .cart-recommend .upsell-prev { margin-top: 36px; }
  .cart-upsell-wrapper .cart-recommend .upsell-next { position: absolute; top: 0; margin-top: 52px; right: -34px; }


  #knob-pull-upsell .cart-container { background: url(//s3.amazonaws.com/rtacabinet/page/cart/cart-knob-pull-bg.jpg) 21px 8px no-repeat; }
  #sink-upsell .cart-container { background: url(//s3.amazonaws.com/rtacabinet/page/cart/cart-sink-bg.jpg) 15px 0 no-repeat; }
  #sink-upsell p { margin-left: 135px; }

  .cart-continue { display: block; padding: .25em .5em .5em .75em; font-size: 18px; color: #fff; border-right: 5px solid #135d89; border-radius: 10px 0 0 10px;
                  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#135d89', endColorstr='#438db9', gradientType='1');
                  background: -webkit-gradient(linear, left top, right top, from(#135d89), to(#438db9));
                  background: -moz-linear-gradient(left, #135d89, #438db9);
                  text-transform: capitalize; text-decoration: none; }
  .cart-continue span { font-size: 13px; }
  .cart-continue:hover { filter: alpha(opacity = 80); opacity: 0.8; }

  #new-cart { padding: 20px; }
  #new-cart table { margin-left: -8px; }
  #new-cart th { text-align: left; white-space: nowrap; }
  #new-cart td, #new-cart th { padding: 4px 8px 4px 8px; }
  #new-cart tfoot td { border-top: 1px solid #ddd; }
  .new-cart-model { white-space: nowrap; }
  .new-cart-close-match > td { border: 1px solid #a00; background-color: #fee; }
  .new-cart-close-match p { margin-top: 16px; }
  .new-cart-close-match table { padding-left: 16px; }
  .new-cart-close-match button.call { padding: 4px 8px; opacity: .75; transition: opacity .5s; }
  .new-cart-close-match .new-cart-close-skip { margin: 16px; }
  .new-cart-close-match button:hover { opacity: 1.0; }
  .new-cart-actions { margin-top: 24px; text-align: center; }
  .new-cart-actions button { margin: 0 16px; }


  /* financing progress */
  .financing-block { float:left; max-width: 50%; margin-bottom: 24px; }
  .financing-block h3 { margin: 24px 0 16px 24px; }
  .financing-block h3 span { color: #6db144; }
  .financing-block h3 b { color: #600; }
  .financing-block p { margin-left: 24px; }
  #financing-amount{margin:0 0 0 112px;width:70px;height:100px;position:relative;}
  #financing-amount .track{height:80px;top:10px;width:30px;border:1px solid #aaa; border-radius: 4px; position:relative;margin:0 auto;background:#f7f7f7;box-shadow: 0 0 4px #ccc;}
  #financing-amount .progress{height:0;width:100%;background-color:#6db144;position:absolute;bottom:0;left:0;border-radius: 4px;}
  #financing-amount .goal{position:absolute;top:-2px; left: 6px;}
  #financing-amount .amount{display:inline-block;padding:0 5px 0 60px;border-top:1px solid #aaa;font-family:Trebuchet MS;font-weight:700;color:#333}
  #financing-amount .progress .amount{padding:0 60px 0 5px;position:absolute;border-top:1px solid #060;color:#000;right:0}

  #bread-checkout-form { max-width: 128px; margin: 16px 0 0 -28px; }
  #bread-checkout-btn-bread-iframe { width: 230px !important; height: 60px !important; }
  .no-bread p { margin-bottom: 0; padding: 16px 24px 0 24px; }


  /* free knob offer */
  #specialoffer { background: url(src/specialoffer.png) no-repeat; width: 178px; height: 178px; position: relative; left: -100px; top: -50px; z-index: 10000; }
  /* change this so the special offer won't be hidden */
  #colorbox.free-knob-offer-popup, .free-knob-offer-popup #cboxOverlay, .free-knob-offer-popup #cboxWrapper { overflow: visible; }


  a.item-name { margin-right: 16px; font-size: 16px; }

  #calc-ship-link {
    font-weight : 400;
  }


  div.column-left > form:nth-of-type(2) > table:nth-of-type(1) > thead > tr > th:nth-of-type(1) {
    background-color: rgb(243, 243, 243);
  }

  div.column-left > form:nth-of-type(2) > table:nth-of-type(1) > thead > tr > th:nth-of-type(2) {
    background-color: rgb(243, 243, 243);
  }


  th.quantity-head {
    background-color: rgb(243, 243, 243) !important;
  }

  div.column-left > form:nth-of-type(2) > table:nth-of-type(1) > thead > tr > th:nth-of-type(4) {
    background-color: rgb(243, 243, 243);
  }

  th.remove-head {
    background-color: rgb(243, 243, 243) !important;
  }


  @media all and (max-width: 980px) {
      .cart-upsell-wrapper .scroll-wrapper { width: auto; }
      .cart-upsell-wrapper-old .upsell-item { width: 27% !important; }

      .checkout-button-bottom { margin-bottom: 24px; }
  }

  @media all and (max-width: 900px) {
      .cart-upsell-wrapper-old .upsell-item { width: 32% !important; }
  }

  @media all and (max-width: 800px) {
      .no-tablet { display: none; }
    .column-right .checkout-button-top input[type="submit"] {
      margin-right : 0px;
    }
  }

  @media all and (max-width: 750px) {
      .cart-container { max-width: 480px; }
  }

  @media all and (max-width: 700px) {
      .no-mobile { display: none !important; }
      #content { position: relative; }
      #content .checkout-button-top { position : initial; top: -36px; }

      .checkout-icons { display: none !important; }

      .intro, .low-price, .payment-seal { display: none; }

      .checkout-button-top { position: absolute; top: 2px; right: 18px; }


    tr.cartItem {
      border-bottom : 1px solid rgb(221, 221, 221);
      display : block;
    }

    table.cart td.price-col {
      text-align : left;
      font-size: 14px;
    }

    table.cart .cartItem td {
      border-bottom : none;
    }

    table.cart:nth-child(1) tr td.price-col:nth-child(2)::before {
      content : "Unit Price: ";
    }

      /*
    table.cart tr td.price-col:nth-child(4)::before {
      content : "Subtotal: ";
    }
        */

    table.cart .row-compare td.no-bg { background: none !important; }

    table.cart td.quantity-col::before {
      content : "Qty: ";
    }

    table.cart thead {
      display : none;
    }

    table.cart td.remove-col a::after {
      content : " Remove";
    }

    table.cart td.remove-col a:hover {
      font-size : inherit;
    }

    table.cart td.remove-col {
      width : 100%;
      text-align : right;
      padding-top : 0px;
    }

    table.cart td.prod-col span {
      font-size : 12px;
    }

    td.cart-actions a {
      width : 100%;
      margin : 10px 0px;
    }

    table.cart td.cart-actions {
      text-align : center;
    }

    #content .rta-button-flat.call {
      width : 100%;
    }

    td.cart-actions a.continue-shopping-bottom {
      float : none;
      width : auto;
    }

    table.cart td {
      padding : 0.5rem 0px;
      display : inline-block;
      box-sizing : border-box;
    }

    table.cart:nth-child(2) td {
      width : 100%;
      text-align : center;
    }

    td.prod-col {
      width : 100%;
    }

    table.cart td:nth-child(4) {
      font-weight : bold;
      width : 100%;
      padding-top : 0px;
    }

    table.cart td.quantity-col {
      float : right;
    }

    #cabinet-style-selector td {
      padding-left : 0px;
    }

    .shipping-block h3 {
      font-size : 14px;
      margin : 0px;
    }

    form.checkout-button-top {
      padding : 0px 1rem 1rem 1rem;
    }

    form.checkout-button-top > input {
      font-size : 20px !important;
    }
  }

  @media all and (max-width: 500px) {
      h1 { margin: 16px 0; }
      .checkout-button-top { top: 8px; }

      .cart-container { max-width: 378px; }

      .cart-upsell-wrapper-old .upsell-item { width: 39% !important; }

      table.cart td.cart-actions { text-align: center; }
      .update-cart { margin-top: 16px; }

      .shipping-block { text-align: center; }
      .shipping-block > * { margin: 8px 0; }

      #new-cart { font-size: 12px; }
  }


  @media all and (max-width: 420px) {
      #topnav { display: none; }

      .cart th:nth-child(4), .cart td:nth-child(4) { display: inline-block; }
      .listing th { padding: 7px 5px; }

      table.cart th, table.cart td { padding: 8px; }

      #cabinet-style-selector select { width: auto; }

      #content .checkout-button-top { top: -16px; }
      #content .checkout-button-top .rta-button-flat.call { font-size: 12px; }

      .cart-upsell-wrapper-old .upsell-item { width: 50% !important; }
      .cart-upsell-wrapper-old .upsell-image-wrapper { height: 50px; }
      #content .cart-upsell-wrapper-old  .upsell-item img { max-width: 100px; }

      .continue-shopping-bottom { margin: 24px auto 0 auto; display: block; }

      .cart-container { max-width: 300px; }

      .cart-actions a { display: inherit; margin-bottom: 16px; }

      #continue-shopping { display: block; margin-top: 1em; }

      .checkout-button-bottom { display: block; text-align: center; }

      .compare-cart { border: 0; }

      #content img { max-width: 300px; }
  }

  @media all and (max-width: 350px) {
      .cart-upsell-wrapper .cart-recommend .upsell-item { height: 216px; }
  }

